@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap'); 
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    font-family: "Ubuntu Mono", monospace;
    font-size: 20px;
}
/*para todos os inputs com type text*/
input[type='text']{
    background-color: #E7D7C1;
}
button{
    padding: 5px;
    margin: 10px;
    background-color:white;
    
}
button:hover{
    background-color: #E7D7C1;
    color: white;
}
/*pseudoelemento*/
label::before{
    margin: 2px;
    content: '.';
}
