*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    display: grid;
    min-height: 100vh;
    max-width: 100vw;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "string" "contador" "botoes";
    

}
.string{
    grid-area: string;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contador{
    grid-area: contador;
    display: flex;
    justify-content: center;
    align-items: center;

}
.botoes{
    grid-area: botoes;
    display: flex;
    justify-content: center;
    align-items: center;

}
button{
    font-size: 40px;
    margin: 10px;
    height: 100px;
    width: 200px;
}
h1{
    font-size: 90px;
}