*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    display: grid;
    min-height: 100vh;
    width: 100vw;
    background-color: rgb(208, 208, 211);
    place-items: center;

}
.box{
    background-color: rgb(113, 113, 255);
    height: 200px;
    width: 200px;
}